*{
    box-sizing: border-box;
}

header{
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header img{
    width: 100px;
    height: 100px;
}
#nav-bar{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}


a{
    text-decoration: none;
    color: black;
}
.head-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.head-text form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.head-text input{
    padding: 8px 70px 8px 5px;

}

.head-text #submit{
    background-color: yellow;
    border: none;
    padding: 10px 40px;
    font-weight: 900;    
}

main, #footer{
    margin: 0 15%;
}

main .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.content .icon-text{
    flex-basis: 80%;
}

#video{
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}

#footer .card{
    border: 2px solid grey;
    padding: 0;
}

.card>div{
    background-color: gray;
    font-size: 22px;
    font-weight: 900;
}
.card p{
    margin: 5px 30%;
    font-size: 20px;
}
.card input{
    background-color: yellow;
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    margin: 15px auto;
}

.card input:hover, #submit:hover{
    cursor: pointer;
}

@media screen and (max-width: 450px) {

    #nav-bar{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .head-text h1{
        text-align: center;
    }
    #footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}